:root{
    /* --border_val:2px; */
}
body{
    border: var(--border_val) solid black;
}
body>*{
    border: var(--border_val) solid purple;
}
body>*>*{
    border: var(--border_val) solid blue;
}
body>*>*>*{
    border: var(--border_val) solid green;
}
body>*>*>*>*{
    border: var(--border_val) solid yellow;
}
           
           @keyframes fall {
            0%   {top:36.5vw;}
            100% {top: 38vw;}
          }

        body{
            background-color: #d0e9d4;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;;
            
        }

        p{
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        *{
            margin: 0px;
            padding:0px;
        }

        img{
            image-rendering: pixelated;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            
        }

        .floor{
            position:absolute;
            width:100%;
            top:41.55vw;
        }
        .city{
            position:absolute;
            width:100%;
            top:27.7vw;
        }
        .electric{
            position:absolute;
            width:100%;
            top:30.2vw;
        }
        .cloud{
            position:absolute;
            width:100%;
            top:10vw;
        }
        main{
            overflow: hidden;
            width: 100vw;
            height: 200vw;
        }
        .cha{
            position: relative;
            width:5.5vw; 

        }
        .c1{
            
            position: absolute; 
            width:100%;
            z-index: 10;
            --moveset:0;
            /*transform: translateY(675%) translateX(var(--x));*/
            top:36.5vw;
            left:var(--moveset);
            

        }
        .yai{
            position: absolute;
            width:1.4%; 
            z-index: 9;
            top: 36.4vw;
            left: 34vw;
            transform: translateX(5vw);
            
        }
        .ma_ngan{
            position: absolute;
            width:6%; 
    
             top:28.75vw; left:41.5vw;
        }
        .tv{
            position: absolute;
            width:4.2%; 
            
            top:29.9vw; left:113.5vw;
        }

        .won_number{
            position: absolute;
            font-size: 7vw;
            top:20.9vw; left:108.5vw;
        }

        .phone{
            position: absolute;
            width:1.4%; 
            
             top:31.1vw; left:168vw;
        }

        .shrine{
            position: absolute;
            width:1.4%; 
            
             top:31.8vw; left:180.5vw;
        }

        .guay{
            position: absolute;
            width:5%; 
            
             top:36.1vw; left:222.7vw;
        }

        .women_map1{
            position: absolute;
            width:1.8%; 
            z-index: 9;
             top:36.5vw; left:108vw;
        }

        .cat{
            position: absolute;
            width:1.2%; 
            z-index: 9;
             top:39vw; left:174.5vw;
        }


        
        .map1{
            width:300vw; 
            height:auto; 
            position:relative;
            --map1move:0;
            left:var(--map1move);
            
        }

        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }

        
        .chat1{
            position: absolute;
            width:100%; 
            cursor: pointer;
        }
        .tv2{
            position: relative;
            width:100%;
            cursor: pointer;
        }

        .dialog{
            position: absolute;
            display: none;
            width:10%; 
            height: 100%;
             left:16vw;
            padding-top: 4%;
            opacity: 100%;
        }

        .dialog:hover{
            cursor:pointer;
        }

        .chat1[data-flip = '-1']{
            transform: scaleX(-1);
            width: 50%;

        }
        .dialog[data-flip = '-1']{
            top:12vw; left:35vw;


        }

        .chat1[data-flip = '2']{
            width: 70%;
            height: 80%;

        }
        .dialog[data-flip = '2']{
            top:14vw; left:23vw;


        }

        .pang1{
            position: absolute;
            width:100%; 
        }

        .pang_huay{
            position: relative;
            width: 40%;
            z-index: 11;
            margin-bottom: 11%;
   
        }
        .huay{
            position: absolute;
            width:25%; 
            cursor: pointer;
        }

        .pang_pop{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0.85);
            align-content: center;
            justify-content: center;
            z-index: 10001;
        }
        
        .tv_pop{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0.85);
            align-content: center;
            justify-content: center;
            z-index: 10001;
        }

        .tv_huay{
            position: relative;
            width:50%;
            z-index: 12;
            margin-top: 25%;
        }

        .next{
            position: absolute;
            z-index: 10;
            width: 10%;
             top:25vw; left:25vw;
        }

        .next[data-flip = '-1']{
            position: absolute;
            z-index: 10;
            width: 8%;
             top:17vw; left:11vw;
        }

        .next[data-flip = '2']{
            position: absolute;
            z-index: 10;
            width: 8%;
             top:16vw; left:17vw;
        }
        
        .bon1{
            position: absolute;
            top: -4vw;
            left: -2vw;
            color: white;
            opacity: 0;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.515);

        }
        .shrine_talk{
            position: absolute;
            top: 23vw;
            left: 175vw;
            color: black;
            opacity: 0;
            font-size: 1.5vw;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.563);
            
            
        }

        audio::-webkit-media-controls-timeline,
        video::-webkit-media-controls-timeline {
            display: none;
        }
        audio::-webkit-media-controls,
        video::-webkit-media-controls {
            display: none;
        }
        .check{
           opacity: 0;
            border: 1px solid black;
            border-style: solid;
            position: absolute;
            top: 36.5vw;
            left: 97vw;
            z-index: 20;
        }


        

.movement{
    animation: move .8s steps(2) infinite;
}
@keyframes move {
    from{top:2px;}
    to{top:0px;}
}
