
        body{
            background-color: #d0e9d4;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;;
        }

        *{
            margin: 0px;
            padding:0px;
        }

        p{
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        img{
            image-rendering: pixelated;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .floor{
            position:absolute;
            width:100%;
            top: 11.4vw;
            /* transform: translateY(11.4vw); */
        }
        .city{
            position:absolute;
            width:100%;
            top: 11.4vw;
            /* transform: translateY(11.4vw); */
        }

        .cloud{
            position:absolute;
            width:100%;
            top: 8vw;
            /* transform: translateY(14vw); */
        }
        main{
            overflow: hidden;
            width: 100%;
            height: 1000px;

        }
        .cha{
            position: relative;
            width:5.5vw; 

        }
        .c1{
            
            position: absolute; 
            width:fit-content;
            z-index: 10;
            --moveset:0;
            /*transform: translateY(675%) translateX(var(--x));*/
            top:36.5vw;
            left:var(--moveset);
            

        }
        .chinese1{
            position: absolute;
            width: 1.1%;
            left: 33vw;
            top: 36.65vw;
            /* transform: translateY(36.65vw) translateX(33vw);  */
        }
        .chinese2{
            position: absolute;
            width: 1.5%;
            left: 40.8vw;
            top: 36.7vw;
            /* transform: translateY(36.7vw) translateX(40.8vw);  */
        }

        .women2{
            position: absolute;
            width: 1.6%;
            left: 81.6vw;
            top: 37vw;
            /* transform: translateY(37vw) translateX(81.6vw);  */
        }

        .phanghai1{
            position: absolute;
            width: 1.6%;
            left: 125.5vw;
            top: 35.5vw;
            /* transform: translateY(35.5vw) translateX(125.5vw);  */
        }

        .phanghai2{
            position: absolute;
            width: 1.9%;
            left: 135.5vw;
            top: 36.65vw;
            /* transform: translateY(36.65vw) translateX(135.5vw);  */
        }

        .map1{
            width:300vw; 
            height:auto; 
            position:relative;
            --map2move:0;
            left:var(--map2move);
            
        }
     
        .sala1{
            position: absolute;
            width: 6%;
            left: 29.45vw;
            top: 22.35vw;
            /* transform: translateY(22.35vw) translateX(29.45vw); */
        }
        @keyframes itemfloat {
            0%{transform: translateY(-4%);transition: ease 0.5s;}
            50%{transform: translateY(4%);transition: ease 0.5s;}
            100%{transform: translateY(-4%);transition: ease 0.5s;}
          }
        .bamboo{
            cursor: pointer;
            position: absolute;
            width: 2.7%;
            left: 85.45vw;
            top: 32vw;
            z-index: 4;
            animation: itemfloat 3s infinite;
            /* transform: translateY(32vw) translateX(85.45vw);  */
        }

        .bg_bamboo{
            position: absolute;
            width: 10%;
            left: 74.85vw;
            top: 29.2vw;
            /* transform: translateY(29.2vw) translateX(74.85vw);  */
        }

        .sala2{
            position: absolute;
            width: 6%;
            left: 81vw;
            top: 23vw;
            /* transform: translateY(23vw) translateX(81vw); */
        }

        .clay{
            position: absolute;
            width: 8%;
            left: 120vw;
            top: 39.9vw;
            z-index: 11;
            /* transform: translateY(39.9vw) translateX(120vw);  */
        }

        .stand{
            position: absolute;
            width: 3%;
            left: 157vw;
            top: 38.8vw;
            /* transform: translateY(38.8vw) translateX(167vw);  */
        }

        .chinese_hong{
            cursor: pointer;            
            position: absolute;
            width: 1.9%;
            left: 160vw;
            top: 33.7vw;
            /* transform: translateY(33.7vw) translateX(170vw);  */
        }

        .star{
            position: absolute;
            width: .7%;
            left: 162vw;
            top: 30vw;

            animation-name: star;
            animation-duration: .5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
        }

        .lottery{
            cursor: pointer;
            position: absolute;
            width: 7%;
            left: 178.5vw;
            top: 23.1vw;
            /* transform: translateY(23.1vw) translateX(178.5vw); */
        }

        .thai1{
            position: absolute;
            width: 1.9%;
            left: 180.2vw;
            top: 35.65vw;
            /* transform: translateY(35.65vw) translateX(180.2vw);  */
        }

        .thai2{
            position: absolute;
            width: 1.9%;
            left: 193.2vw;
            top: 35.65vw;
            /* transform: translateY(35.65vw) translateX(193.2vw);  */
        }

        .sala3{
            position: absolute;
            width: 6%;
            left: 225vw;
            top: 22vw;
            /* transform: translateY(22vw) translateX(225vw); */
        }

        .women3{
            position: absolute;
            width: 1.6%;
            left: 224vw;
            top: 37vw;
            /* transform: translateY(37vw) translateX(224vw);  */
        }
        
        .hai1{
            position: absolute;
            width: 1.2%;
            left: 126vw;
            top: 43vw;
            transform:rotate(50deg);
            /* transform: translateY(43vw) translateX(126vw) rotate(50deg);  */
        }

        .hai2{
            position: absolute;
            width: 1.4%;
            left: 136.5vw;
            top: 44vw;
            transform:rotate(-5deg);
            /* transform: translateY(44vw) translateX(136.5vw) rotate(-5deg);  */
        }

        .hai3{
            position: absolute;
            width: 1.4%;
            left: 144.6vw;
            top: 41.5vw;
            /* transform: translateY(41.5vw) translateX(144.6vw);  */
        }

        .hai4{
            position: absolute;
            width: 1.4%;
            left: 250.6vw;
            top: 41.7vw;
            /* transform: translateY(41.5vw) translateX(144.6vw);  */
        }

        .hole{
            position: absolute;
            width: 2.4%;
            height: 1vw;
            left: 249vw;
            top: 41.5vw;
            /* transform: translateY(41.5vw) translateX(144.6vw);  */
        }
        .ong{
            cursor: pointer;
            position: absolute;
            width: 3%;
            left: 229.5vw;
            top: 33.9vw;
        }
        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }
        .chatbox{
            width: fit-content;
            block-size: fit-content;
            position:absolute;
            background-image: url("./PNG update/Pop up _ effect/chat.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            image-rendering: pixelated;
            display: none;
        }

        .chatbox p{
            padding:0.5em .5em 2.5em .5em ;
            z-index:5;
        }

        .chatbox-left{
            width: fit-content;
            block-size: fit-content;
            position:absolute;
            background-image: url("./PNG update/Pop up _ effect/chat.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transform: scaleX(-1);
            image-rendering: pixelated;
            display: none;
        }

        .chatbox-left p{
            padding:0.5em .5em 2.5em .5em ;
            z-index:5;
            transform:scaleX(-1)
        }

        .check{
           
            /* border-style: solid; */

            position: absolute;
            top: 36.5vw;
            left: 97vw;
            z-index: 20;
        }

        .map_text{
            position: absolute;
            top: 7vw;
            left: 20vw;
            width: 36vw;
            color: black;
            opacity: 100;
            font-size: 2vw;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.563);
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            
        }

        .popup_wrap{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0.85);
            align-content: center;
            justify-content: center;
            z-index: 10001;
        }
        .popup_lottery{
            position: relative;
            width: 20%;
            z-index: 11;
     
        }

        .close_button{
            position: relative;
            top: 0.6vw;
            right: 3.7vw;
            width: fit-content;
            z-index: 12;
        }
        .closebutton_img{
            width: 2.3vw;
        }

        :root{
            /* --border_val:2px; */
        }
        body{
            border: var(--border_val) solid black;
        }
        body>*{
            border: var(--border_val) solid purple;
        }
        body>*>*{
            border: var(--border_val) solid blue;
        }
        body>*>*>*{
            border: var(--border_val) solid green;
        }
        body>*>*>*>*{
            border: var(--border_val) solid yellow;
        }

        @keyframes fall {
            0%   {top:36.5vw;}
            100% {top: 38vw;}
          }
        
        
          @keyframes star {
            0%   {transform: translateY(0vw);}
            100% {transform: translateY(0.5vw);}
          }