
        body{
            background-color: #e5e1ce;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;
            color: black;
        }

        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }

        *{
            margin: 0px;
            padding:0px;
        }

        img{
            image-rendering: pixelated;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .floor{
            position:absolute;
            width:100%;
            transform: translateY(41.5vw);
        }
        main{
            overflow: hidden;
            width: 100%;
            height: 2000px;
        }
        .cha{
            position: absolute;
            width:5.5%; 
            --x: 0;
            --moveset:0;
            z-index: 10;
            /*transform: translateY(675%) translateX(var(--x));*/

            
        }
        .c1{
            position: relative;
            top: 36.4vw;
            --moveset:0;
            left:var(--moveset);
            z-index: 100;
        }
        .map1{
            width:300vw; 
            height:auto; 
            position:relative;
            --map2move:0;
            left:var(--map2move);
        }
        .scene{
            position:absolute;
            width: 100vw;
            top: 18.3vw;
        }
        .bookshelf{
            position: absolute;
            width:4.5%; 
            top:20vw; left:37.5vw;
        }
        .door{
            position: absolute;
            width:2%; 
            top:28.5vw; left:92vw;
        }
        .cushion{
            position: absolute;
            width:3.5%; 
            top:32vw; left:37.5vw;
        }
        .cat{
            position: absolute;
            width:1.2%;
            top:28.1vw; left:44vw;
        }
        .tv{
            position: absolute;
            width:8%; 
            top:23vw; left:45vw;
        }
        .desk{
            position: absolute;
            width:5%; 
            top:19vw; left:65vw;
        }
        .text{
            position: absolute;
            top:20vw;
            left:88vw;
        }
        @keyframes here {
            0%{transform: translateY(-7%);transition: ease 0.5s;}
            50%{transform: translateY(7%);transition: ease 0.5s;}
            100%{transform: translateY(-7%);transition: ease 0.5s;}
          }
        .text2{
            position: absolute;
            transform: rotate(90deg);
            top:23vw; 
            left:90vw;
            animation: here 1s infinite;
        }
        .left{
            position: absolute;
            width: 3vw;
            top: -4vw;
            left: -.5vw;
        }
        .right{
            position: absolute;
            width: 3vw;
            top: -4vw;
            left: 3vw;
        }



        
