
        body{
            background-color: #e5e1ce;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;
            color: black;
        }

        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }

        *{
            margin: 0px;
            padding:0px;
        }

        p{
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        img{
            image-rendering: pixelated;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select:none;
            -webkit-touch-callout:none;
            -ms-user-select: none;
        }

        audio::-webkit-media-controls-timeline,
        video::-webkit-media-controls-timeline {
            display: none;
        }
        audio::-webkit-media-controls,
        video::-webkit-media-controls {
            display: none;
        }

        main{
            overflow: hidden;
            width: 100%;
            height: 2000px;
        }

        .floor{
            position:absolute;
            width:100%;
            transform: translateY(41.5vw);
        }

        .cha{
            position: relative;
            width:5.5vw; 

        }
        .c1{
            
            position: absolute; 
            width:100%;
            z-index: 10;
            --moveset:0;
            /*transform: translateY(675%) translateX(var(--x));*/
            top:36.5vw;
            left:var(--moveset);
        }
        .map1{
            width:300vw; 
            height:auto; 
            position:relative;
            --map1move:0;
            left:var(--map1move);
        }
        .scene{
            position:absolute;
            width: 100vw;
            top: 18.3vw;
        }
        .bookshelf{
            position: absolute;
            width:4.5%; 
            top:20vw; left:37.5vw;
        }
        .door{
            position: absolute;
            width:2%; 
            top:28.5vw; left:92vw;
        }
        .cushion{
            position: absolute;
            width:3.5%; 
            top:32vw; left:37.5vw;
        }
        @keyframes jump {
            0%   {top:28.1vw;left:39vw;}
            100% {top: 36vw;left:35.5vw;}
          }
        .cat{
            position: absolute;
            width:1.2%;
            top:28.1vw; left:39vw;
            transform: translateX(5vw);
        }
        .tv{
            cursor: pointer;
            position: absolute;
            width:8%; 
            top:23vw; left:52vw;
            transform: translateX(-7vw);
            z-index: 1;
        }
        .desk{
            position: absolute;
            width:5%; 
            top:19vw; left:65vw;
        }
        .phone{
            cursor: pointer;
            position: absolute;
            width:5%; 
            top:16.5vw; left:63vw;
            animation: itemfloat 2.5s infinite;
        }
        .earbud{
            position: absolute;
            width:1%; 
            top:23.3vw; left:67.5vw;
        }
        .elmo{
            cursor: pointer;
            position: absolute;
            width:2%; 
            top:21vw; left:43vw;
            filter: drop-shadow(0 0 1px #000);
            z-index: 2;
        }
        .elmo_wrap{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0.85);
            align-content: center;
            justify-content: center;
            z-index: 10001;
        }
        .text_inPopup{
            color: white;
            position: absolute;
            top: 90% ;
            cursor: pointer;
            animation: blip 4.5s infinite;
        }
        .text_guide{
            color: white;
            position: relative;
            cursor: pointer;
        }
        .popup_wrap{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0.85);
            align-content: center;
            justify-content: center;
            z-index: 10001;
        }
    
        .text{
            position: absolute;
            top:20vw;
            left:89vw;
        }
        @keyframes itemfloat {
            0%{transform: translateY(-3%);transition: ease 0.5s;}
            50%{transform: translateY(3%);transition: ease 0.5s;}
            100%{transform: translateY(-3%);transition: ease ease-out 0.5s;}
          }
        @keyframes here {
            0%{transform: translateY(-7%);transition: ease 0.5s;}
            50%{transform: translateY(7%);transition: ease 0.5s;}
            100%{transform: translateY(-7%);transition: ease 0.5s;}
          }
        .text2{
            position: absolute;
            transform: rotate(90deg);
            top:23vw; 
            left:94.5vw;
            animation: here 1s infinite;
        }
        .left{
            position: absolute;
            width: 3vw;
            top: -4vw;
            left: -.5vw;
        }
        .right{
            position: absolute;
            width: 3vw;
            top: -4vw;
            left: 3vw;
        }

        .check{
           
           
            opacity: 0;
            border: 1px solid black;
            position: absolute;
            top: 36.5vw;
            left: 97vw;
            z-index: 20;
        }

        
