
     @keyframes OpenL {
        0%   {transform:translateX(0%);}
        100% {transform:translateX(-39%);}
      }
      @keyframes OpenR {
        0%   {transform:translateX(0%);}
        100% {transform:translateX(39%);}
      }

        body{
            background-color: #b05447;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;;
        }

        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }

        *{
            margin: 0px;
            padding:0px;
        }

        img{
            image-rendering: pixelated;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select:none;
            -webkit-touch-callout:none;
            -ms-user-select: none;
            
        }

        .floor{
            position:absolute;
            height:100%;
        }
       
       

        .Open{
            position:fixed;
            height:127%;
            z-index: 2;
        }

        
        main{
            overflow: hidden;
            width: 100%;
            height: 1080px;
        }

        .map1{
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            position: fixed;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            z-index: 1;
        }

       

        
