
     @keyframes OpenL {
        0%   {left:5vw;}
        100% {left:-30vw;}
      }
      @keyframes OpenR {
        0%   {left:5vw;}
        100% {left:40vw;}
      }

        body{
            background-color: #b05447;
            overflow: hidden;
            font-family: myfont;
            font-size:2vw;;
        }

        @font-face {
            font-family: myfont;
            src: url(font/PSLCD3310.ttf);
        }

        *{
            margin: 0px;
            padding:0px;
        }

        img{
            image-rendering: pixelated;
        }

        .floor{
            position:absolute;
            width:71vw;
            transform: translateX(15vw);

        }
       
        .lottery{
            position:absolute;
            width:10vw;
            transform: translateY(30vw) translateX(33vw);

        }
        .OpenL{
            position:absolute;
            width:90vw;
            left: 5vw;


        }
        .OpenR{
            position:absolute;
            width:90vw;
            left: 5vw;

        }

        .lottery2{
            position:absolute;
            width:10vw;
            transform: translateY(30vw) translateX(57vw);

        }
        main{
            overflow: hidden;
            width: 100%;
            height: 1000px;
        }

        .map1{
            width:300vw; 
            height:auto; 
            position:relative;
            --map2move:0;
            transform: translateX(var(--map2move));
        }

       

        
